.breadcrum{
    display: flex;
    align-items: center;
    gap:8px;
    color:#292727;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 80px;
    text-transform: capitalize;

}

@media(max-width:1280px){
    .breadcrum{
        margin: 30px 50px;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .breadcrum{
        margin: 30px 30px;
        font-size: 14px;
    }
}
@media(max-width:960px){
    .breadcrum{
        margin: 30px 10px;
        font-size: 12px;
    }
}
@media(max-width:540px){
    .breadcrum{
        margin: 20px 20px;
        font-size: 10px;
    }
}