.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 20px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap:30px;
}

@media(max-width:1024px){
    .relatedproducts{
        height:60vh;
    }
    .relatedproducts h1{
        font-size: 30px;
    }
    .poprelatedproductsular hr{
        width: 120px;
        height: 3px;
    }
    .relatedproducts-item{
        gap:15px;
        margin-top: 20px;
    }
}